.links{
	text-align: center;
	font-family: serif;
   font-size: 28px;
}
header{
	text-align: center;
	color: black;
}
.name{
	font-size: 28px;
	font-family: serif;
	color: black;
	text-align: center;
}
#app{
   font-size: 28px;
	text-align: centre;
	font-family: serif;
}
body{
	background-color: white;
}
.text{
   color: black;
   font-size: 28px;
}
.last{
	font-family: serif;
	color: black;
	text-align: center;
        font-size: 28px;
}
.mail{
	border-radius: 50%;
}
#routes{
width: 100%;
 font-size: px;
margin-bottom: 100px;
position: fixed;
}
hr{
background-color: grey;
height: 10px;
}
input{
box-shadow:3px 3px 3px purple;
border-radius:15px;
}
