.links{
	text-align: center;
	font-family: serif;
   font-size: 30px;
}
header{
	text-align: center;
	color: black;
}
.name{
	font-size: 38px;
	font-family: serif;
	color: black;
	text-align: center;
}
#app{
   font-size: 28px;
	text-align: centre;
	font-family: serif;
}
body{
	background-color: white;
}
.text{
   color: black;
   font-size: 30px;
}
.last{
	font-family: serif;
	color: black;
	text-align: center;
  font-size: 28px;
}
.mail{
	border-radius: 50%;
}
#routes{
width: 100%;
 font-size: px;
margin-top: 300px;
position: fixed;
}
hr{
background-color: grey;
height: 10px;
}
Input{
text-shadow:3px 3px 3px purple;
}
